@model List<UserInfo>
@{
    ViewBag.Title = "Toplantıya Katılım Listesi";
}
<main class="text-center">
<h1 class="h4">Toplantıya Katılım Listesi</h1>
<table class="table tablebordered">
    <head>
        <tr>
            <td>Ad</td>
            <td>Katılım Durumu</td>
            <td></td>
        </tr>
    </head>
    <tbody>
        @{ int i = 0;}
        @foreach(var user in Model){

            var durum = user.WillAttend == true ? "Evet":"Hayır";
            var className = user.WillAttend == true ? "table-success" : "table-danger";

            if(user.WillAttend == true) {
                i++;
            }

            <tr class="@className">
                <td>@user.Name</td>
                <td>@durum</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Meeting" asp-action="Details" asp-route-id="@user.Id">Detay</a>
                </td>
            </tr>
        }


    </tbody>
</table>
<div class="card">
    <div class="card-body">
        <span>Katılımcı sayısı: @i</span>
    </div>
</div>
</main>